<%- include('../includes/head.ejs') %>

</head>
  <body>

    <div class="content">
      <header>
        <div class="top">
          <div class="stem_logo">
            <a href="/index">
              <img src="/assets\tentative logo-round.png"
              alt="STEM girls logo: a glowing bulb" width="100%" height="100%">
            </a>
          </div>
          <div class="nav_icon">
            &#9776;
          </div>

          <%- include('../includes/navigation.ejs') %>

        </div>
      </header>

      <main>

        <div class="first_part">
          <div class="illustrate">
            <h1 class="mobile-h1">
              Be our Ambassador!
            </h1>
            <p class="mobile-h1">
              An ambassador of STEM GIRLS is any individual who agrees to take on task
              of representing STEM GIRLS in public, with partners and friends of STEM GIRLS,
              and convey positive message about the different programs supported.
            </p>
            <img src="/assets\STEM_Ambassador.png" width="100%" height="60%"
            alt="Pictures of STEM Girls with their Ambassador">
          </div>

          <div class="writeup">
            <h1 class="desktop-h1">
              Be our Ambassador!
            </h1>
            <p class="desktop-h1">
              An ambassador of STEM GIRLS is any individual who agrees to take on task
              of representing STEM GIRLS in public, with partners and friends of STEM GIRLS,
              and convey positive message about the different programs supported.
            </p>
            <p>
              To be a STEM GIRLS AMBASSADOR you have to follow the following procedure:
            </p>
            <ol>
              <li>
                Purchase a STEM Girls' Kits comprises a Customized STEM GIRLS T-shirt,
                Stickers, Pen and a Brochure.
              </li>
              <li>
                As an ambassador of STEM GIRLS, you have to encourage girls to develop
                interst in STEM by talking to Girls about opportunities in STEM fields
                and be a representative of STEM GIRLS in your home, school, church, mosque,
                office and community.
              </li>
            </ol>
            <a href="/ambassador/add-ambassador">
              <button type="button" name="button">Become an Ambassador</button>
            </a>
          </div>

        </div>


        <div class="form" id="form">
          <h2>Become an Ambassador</h2>
          <form class="ambassador" action="/<% if (editing) { %>edit-ambassador<% } else { %>add-ambassador<% } %>" method="POST" >
            <label for="name">Full Name <span>*</span></label><br>
            <input type="text" name="fullname" placeholder="Full Name" required id="fullname" value="<% if (editing) { %><%= ambassador.fullname %><% } %>"><br>

            <label for="email">Email <span>*</span></label><br>
            <input type="email" name="email" placeholder="Email" required value="<% if (editing) { %><%= ambassador.email %><% } %>"><br>

            <label for="phone">Phone <span>*</span></label><br>
            <input type="text" name="phone" placeholder="Phone" required value="<% if (editing) { %><%= ambassador.phone %><% } %>"><br>

            <label for="gender">Gender <span>*</span></label><br>
            <select class="gender" name="gender" >
              <option value="female">Female</option>
              <option value="male">Male</option>
            </select><br>

            <label for="country">Country <span>*</span></label><br>
            <input type="text" name="country" placeholder="Country" required value="<% if (editing) { %><%= ambassador.country %><% } %>"><br>

            <label for="city"> City <span>*</span></label><br>
            <input type="text" name="city" placeholder="City" required value="<% if (editing) { %><%= ambassador.city %><% } %>"><br>

            <label for="facebook"> Facebook </label><br>
            <input type="text" name="facebook" placeholder="Facebook" value="<% if (editing) { %><%= ambassador.facebook %><% } %>"><br>

            <label for="twitter"> Twitter </label><br>
            <input type="text" name="twitter" placeholder="Twitter Handle" value="<% if (editing) { %><%= ambassador.twitter %><% } %>"><br>

            <label for="address"> Address </label><br>
            <input type="text" name="address" placeholder="Address" value="<% if (editing) { %><%= ambassador.address %><% } %>"><br>
            <% if (editing) { %>
              <input type="hidden" value="<%= ambassador._id %>" name="ambassadorId">
          <% } %>
            <input type="submit" name="submit" value="<% if (editing) { %>Update Ambassador <% } else { %>Add Ambassador<% } %>">
          </form>
        </div>
      </main>

      <%- include('../includes/footer.ejs') %>
    </div>
    <!-- Navigation Script -->
    <script type="text/javascript" src="/script\nav_script.js" >

    </script>

  </body>
</html>
